<h1>Books</h1>

<% @books.each do |book| %>
<a>
    <p>title</p>
      <span><%= book.title %></span>
</a>
<a>
  <p>body</p>
  <span><%= book.body %></span>
</a>
   <%= link_to "show", book_path(book.id) %>
   <%= link_to "edit", edit_book_path(book.id) %>
  <%= link_to 'Destroy', book_path(book.id), :method => :delete,"data-confirm" => "Are you sure？" %>

<% end %>


<h3>New book</h3>
<!-- form_with部分 -->
<%= form_with model: Book.new do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
	
  <h4>body</h4>
  <%= f.text_area :body %>
	
  <%= f.submit 'create Book' %>
<% end %>